#app {
  min-width: 100vw;
  min-height: 100vh;
}

.page-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.page-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* 描述列表自定义样式 */
.el-descriptions {
  margin-bottom: 50px;
}

.el-descriptions .el-descriptions__title {
  font-size: 20px;
  font-weight: bold;
}

.el-descriptions .el-descriptions-item__cell {
  text-align: center !important;
}

/* -----②----- */
.part-two .el-icon-circle-close {
  font-size: 16px;
}

/* -----③----- */
.el-switch__label {
  color: #909399;
}

/* -----④----- */
thead .divide-line {
  border-right: 1px solid rgb(140, 197, 255) !important;
}

thead .group1 {
  background: rgb(252, 228, 214) !important;
}

thead .group2 {
  background: rgb(221, 235, 247) !important;
}

.third-tip {
  color: #909399;
  text-align: left;
  padding-left: 20px;
}

.tip-item {
  margin-left: 20px;
}
.tip-item:not(:first-child) {
  margin-top: 10px;
}

/* ⑤ */
.general-tip {
  margin-bottom: 10px;
}

.general-tip .tip-item {
  margin-bottom: 5px;
}

.author-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-row .dnv-img {
  width: 300px;
  height: auto;
}

.author-row .point {
  font-weight: bold;
  color: #409EFF;
}


/* -----common----- */
/* 可输入区域 */
.custom-input .el-input .el-input__inner {
  background: #FDE2E2;
}

.el-input-number {
  width: 100%;
}

/* 自动计算结果区域 */
.disable-input .el-input__inner {
  font-weight: bold !important;
  text-align: center;
  border: none;
  background: #E1F3D8;
}

.btn-group {
  margin-bottom: 15px;
}
.part-title {
  font-size: 20px;
  font-weight: bold;
  color: #303133;
  margin: 50px 0 20px;
}
.part-title.no-top {
  margin-top: 0px;
}

.el-icon-circle-close {
  color: #F56C6C;
  cursor: pointer;
}

.error-text .el-input__inner {
  color: #F56C6C;
}

.success-text .el-input__inner {
  color: #67C23A;
}
.cus-tooltip {
  max-width: 500px;
}
.el-divider--horizontal {
  margin: 50px 0;
}

.switch-item {
  text-align: left;
  margin-left: 250px;
}

.row {
  display: flex;
}
.center-xs {
  justify-content: center;
}
.middle-xs {
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
