<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Tool</title>
    <link rel="shortcut icon " type="images/x-icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/element.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/vue.js"></script>
    <!-- <script src="./js/vue.min.js"></script> -->
    <script src="./js/element.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="page-wrap">
        <div class="page-title">Heat Input Verification Tool for WPS reviewing</div>
        <!-- ① -->
        <el-descriptions title="① WPQR heat input random checking" direction="vertical" :column="4" size="medium"
          border>
          <el-descriptions-item content-class-name="custom-input" v-for="(item, index) in firstInputList" :key="index">
            <template slot="label">{{ item.label }}</template>
            <el-input-number v-model.trim="firstInputList[index].value" placeholder="" :controls="false"
              clearable></el-input-number>
          </el-descriptions-item>
          <el-descriptions-item content-class-name="disable-input">
            <template slot="label">Heat Input（KJ/MM）</template>
            <el-input :value="heatInput" placeholder="" readonly></el-input>
          </el-descriptions-item>
        </el-descriptions>
        <!-- ② -->
        <el-descriptions class="part-two" title="② Averaging Caculator" direction="vertical" :column="10" size="medium" border>
          <div slot="title" class="description-title">
            <span>② Averaging Caculator</span>
            <el-button type="primary" icon="el-icon-plus" size="small" @click="addItem">Add</el-button>
          </div>
          <el-descriptions-item content-class-name="custom-input" v-for="(item, index) in AverageData" :key="index">
            <template slot="label">
              <i class="el-icon-circle-close" @click="secondDelete(index)"></i>
            </template>
            <el-input-number v-model="AverageData[index].value" placeholder="" :controls="false" clearable></el-input-number>
          </el-descriptions-item>
          <el-descriptions-item content-class-name="disable-input">
            <template slot="label">Average Value</template>
            <el-input :value="averageValue" placeholder="" readonly></el-input>
          </el-descriptions-item>
        </el-descriptions>

      </div>
    </div>
    <script>
      new Vue({
        el: '#app',
        data: function () {
          return {
            // ①
            firstInputList: [
              { label: 'Volts电压（V）', value: undefined },
              { label: 'Traval speed（mm/min）', value: undefined },
              { label: 'Heat Input（KJ/MM）', value: undefined }
            ],
            // ②
            AverageData: [
              { value: undefined },
              { value: undefined },
              { value: undefined },
              { value: undefined },
              { value: undefined }
            ]


          }
        },
        watch: {
        },
        computed: {
          // ① 结果
          heatInput () {
            if (this.firstInputList.some(item => item.value === undefined)) {
              return ''
            }
            const amps = this.firstInputList[0].value
            const volts = this.firstInputList[1].value
            const speed = this.firstInputList[2].value
            return this.fixTwo(amps * volts * 6 / speed / 100)
          },
          // ② 结果
          averageValue () {
            const validData = this.AverageData.filter(item => item.value !== undefined)
            return this.fixTwo(validData.reduce((total, item) => total + item.value, 0) / validData.length)
          }
        },
        methods: {
          // ② 新增
          addItem () {
            this.$set(this.AverageData, this.AverageData.length, { value: undefined })
          },
          // ② 删除
          secondDelete (index) {
            this.AverageData.splice(index, 1)
          },
          fixTwo (num) {
            if (!num && num !== 0) return '--'
            return Math.round(num * 100) / 100
          }

        }
      })
    </script>
  </body>

</html>
